* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.9s ease;
}

body {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url('../calculator/img/matrix.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgb(198, 197, 244);
}

.theme-toggler {
    position: absolute;
    top: 30px;
    left: 160px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.toggler-icon {
    position: relative;
    right: 12px;
    top: 1px;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 24px !important;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    font-family: 'Press Start 2P', cursive;
    height: 60px;
    width: 60px;
    border: 2px solid rgb(149, 143, 143);
    box-shadow: 5px 7px #888888;
    border-radius: 20px;
    margin: 5px;
    font-size: 18px !important;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

button#equal {
    height: 130px;
}

/* light mode */

.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #d20513;
}

.calculator button.btn-number {
    background-color: #f8d59a;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #3d05f4;
    color: #f967f3;
  }

  .calculator button.btn-equal {
    background-color: #00fbc0;
    color: #000;
  }

  /* dark mode */

  .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color: #f9fbf8;
  }

  .calculator.dark button#clear {
    background-color: #2d191e;
    color: #ec1523;
  }

  .calculator.dark button.btn-number {
    background-color: #1b2f38;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator{
    /* background-color: #2e1f39;
    color: #f700ef; */
    background-color: #f378ef;
    color: #4f20ea;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #0cd319;
    color: #ffffff;
  }